@page "/fetchdata"
@using ManagementSystem.Models
@inject HttpClient Http

<PageTitle>List of Devices</PageTitle>

<h1>List of Devices</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>DeviceID</th>
                <th>Device Name</th>
                <th>Status</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in devices)
            {
                <tr>
                    <td>@device.DeviceId</td>
                    <td>@device.DeviceName</td>
                    <td>@device.Status</td>
                    <td>@device.Data</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private  MachineDevice[]? devices;

    protected override async Task OnInitializedAsync()
    {
        devices = await Http.GetFromJsonAsync<MachineDevice[]>("sample-data/weather.json");
    }

  
}
